{% load i18n %}

<nav class="navbar navbar-inner" role="navigation">
<!-- Brand and toggle get grouped for better mobile display -->
    <div class="container-fluid header-container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>

        <!-- start: title -->
        <a class="title" href="/">{{ brand_logo }}</a>
        <!-- end: title -->

        <!-- start: Header Menu -->
        <div class="nav-no-collapse header-nav">
            <ul class="nav pull-right">
            {% if user.is_authenticated %}
                <li>
                    <a class="btn" href="#">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ user.username }}
                    </a>
                </li>
                <li>
                    <a class="btn" href="{% url "logout" %}?next=/">
                        退出
                    </a>
                </li>
            {% else %}
                <li> <a class="btn" href="{% url "login" %}">登录</a> </li>
            {% endif %}
            </ul>
        </div>
        <!-- end: Header Menu -->
    </div>
</nav>
